<% if @user %> 
	<br><%= button_to "Logout", logout_path, method: :delete %>

	<h2>Articles</h2>

	<% @user.articles.each do |article| %>
		<p>
		<strong>Title:</strong>
		<%= link_to article.title,
			"/users/#{article.user_id}/articles/#{article.id}" %>
		</p>
	<% end %>

	<%= link_to "Create new article",new_user_article_path(@user) %>
<% end %>
